<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Super Rentals</h2>
    <p>I built this site as a tutorial to emberjs - love jake</p>

    {{#link-to "contact" class="button"}}
    Contact Us
    {{/link-to}}
</div>
{{outlet}}