<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>Super Rentals is a fictitious organization, there is no one to contact here. But, here is Jake's Address because the internet is the safest place I know of.</p>
    <address>
        Jakob Vendegna
        <p>611 W. Mineral Ave <br>
        Littleton, CO 80120</p>
        <a href="tel:3035055603">Call Me</a><br>
    </address>
    <div>
    {{#link-to "about" class="button"}}
    About Super Rentals
    {{/link-to}}
    </div>
    
</div>

{{outlet}}